.a1:link {
    color: gray;
    text-decoration: none;
}

.a1:hover {
    background-color: gold;
    font-family: arial;
    font-size: 17px;
    border-radius: 6px;
    text-decoration: none;
}

.a1:active {
    color: white;
    font-style: italic;
}

.a1:visited {
    color: red;
}



/* tambahkan angka atau sebaliknya */
/* gunakan even untuk genap, odd untuk ganjil */
li:nth-child(odd) a {
    color: gold;
}
li:nth-child(odd) :hover {
    color: blue;
}


p:first-of-type {
    color: rgb(11, 78, 55);
}