h1 {
    font-size: 50px;
    color: rgb(0, 242, 255);
    text-align: center;
    text-decoration: overline underline;
    text-transform: uppercase;
}

p {
    text-indent: 10%;
    text-transform: capitalize;
    word-spacing: 10px;
}