body {
    font-family: arial;
}

h1, h2 {
    color: aquamarine;
}

ul li a {
    color: gold;
}

ol li a {
    color: tomato;
}

a {
    color: hotpink;
}

#p1 {
    color: brown;
}

.p2 {
    color: midnightblue;
}

.cetak-tebal {
    font-weight: bold;
}

p.cetak-tebal {
    font-size: 20px;
}